In [1]:
import pandas

In [2]:
data = pandas.read_csv("data.csv")
data.head()

,Kaggle1,Kaggle2,Kaggle3,Kaggle4,Kaggle5,Projet-Teacher1,Projet-Teacher2
0,6,5,6,6,6.0,17.5,18.0
1,6,4,5,6,3.0,15.0,12.5
2,6,6,5,3,3.0,14.0,14.5
3,6,6,5,3,3.0,16.5,18.5
4,5,5,5,6,6.0,17.5,18.0