In [1]:
import pandas

In [2]:
data = pandas.read_csv("data.csv")
data.head()

,Kaggle1,Kaggle2,Kaggle3,Kaggle4,Kaggle5,Projet-Teacher1,Projet-Teacher2
0,6,5,6,6,6.0,17.5,18.0
1,6,4,5,6,3.0,15.0,12.5
2,6,6,5,3,3.0,14.0,14.5
3,6,6,5,3,3.0,16.5,18.5
4,5,5,5,6,6.0,17.5,18.0

In [3]:
# calculate means and standard deviations for each column
means = data.mean()
stds = data.std()

for i in range(len(means)):
    print(f"{means.index[i]}: {means[i]} +/- {stds[i]}")

Kaggle1: 5.333333333333333 +/- 0.5547001962252291
Kaggle2: 4.814814814814815 +/- 1.5698367636118935
Kaggle3: 5.37037037037037 +/- 0.49210287762341137
Kaggle4: 4.518518518518518 +/- 1.4772732253500644
Kaggle5: 4.203703703703703 +/- 1.8824046571997461
Projet-Teacher1: 16.425925925925927 +/- 1.6390880655442792
Projet-Teacher2: 16.166666666666668 +/- 2.2446517632945957

In [4]:
# normalize data last 2 columns to % (instead of /6 or /20)
data.iloc[:, 0:5] = data.iloc[:, 0:5] / 6 * 100
data.iloc[:, 5:7] = data.iloc[:, 5:7] / 20 * 100
data.head()

,Kaggle1,Kaggle2,Kaggle3,Kaggle4,Kaggle5,Projet-Teacher1,Projet-Teacher2
0,100.000000,83.333333,100.000000,100.0,100.0,87.5,90.0
1,100.000000,66.666667,83.333333,100.0,50.0,75.0,62.5
2,100.000000,100.000000,83.333333,50.0,50.0,70.0,72.5
3,100.000000,100.000000,83.333333,50.0,50.0,82.5,92.5
4,83.333333,83.333333,83.333333,100.0,100.0,87.5,90.0

In [5]:
# calculate means and standard deviations for each column
means = data.mean()
stds = data.std()
for i in range(len(means)):
    print(f"{means.index[i]}: {means[i]} +/- {stds[i]}")

Kaggle1: 88.88888888888889 +/- 9.245003270420483
Kaggle2: 80.24691358024691 +/- 26.163946060198228
Kaggle3: 89.50617283950618 +/- 8.201714627056852
Kaggle4: 75.30864197530865 +/- 24.621220422501075
Kaggle5: 70.06172839506172 +/- 31.373410953329103
Projet-Teacher1: 82.12962962962963 +/- 8.195440327721395
Projet-Teacher2: 80.83333333333333 +/- 11.22325881647298