In [1]:
import pandas

In [2]:
data = pandas.read_csv("data.csv")
data.head()

,Kaggle1,Kaggle2,Kaggle3,Kaggle4,Kaggle5,Projet-Teacher1,Projet-Teacher2
0,6,5,6,6,6.0,17.5,18.0
1,6,4,5,6,3.0,15.0,12.5
2,6,6,5,3,3.0,14.0,14.5
3,6,6,5,3,3.0,16.5,18.5
4,5,5,5,6,6.0,17.5,18.0

In [3]:
# calculate means and standard deviations for each column
means = data.mean()
stds = data.std()

for i in range(len(means)):
    print(f"{means.index[i]}: {means[i]} +/- {stds[i]}")

Kaggle1: 5.333333333333333 +/- 0.5547001962252291
Kaggle2: 4.814814814814815 +/- 1.5698367636118935
Kaggle3: 5.37037037037037 +/- 0.49210287762341137
Kaggle4: 4.518518518518518 +/- 1.4772732253500644
Kaggle5: 4.203703703703703 +/- 1.8824046571997461
Projet-Teacher1: 16.425925925925927 +/- 1.6390880655442792
Projet-Teacher2: 16.166666666666668 +/- 2.2446517632945957